$color-primary-blue-OP29: #1A629B;
$color-primary-blue-OP28: #1A629C;
$color-primary-blue-OP26:#003CFD;
$color-primary-blue-OP20: #EAFAFF;
$color-primary-white-OP88: #E1E8EE;
$color-primary-white-OP86: #B6B6B6;
$color-primary-white-OP66: #fff;
$color-primary-white-OP60: #FBFBFB;
$color-primary-white-OP62: #F4F4F4;
$color-primary-blue-OP66: #1C51FF;
$color-primary-black-OP60: #333333;
$color-primary-grey-OP60: #747474;
$color-primary-grey-OP62: #636363;
$color-primary-red-OP20: #E56161;
$color-primary-red-OP22: #DD3030;
$app-ui-message-container-text-color: #fff;
$app-ui-message-container-success-background-color: #2e7d32;
$app-ui-message-container-error-background-color: #c62828;
$app-ui-message-container-warning-background-color: #ff8f00;
