$OpenSans:'Open Sans', sans-serif;
$font-family: "Open Sans";
$Taro: Taro;

$font-xl_60: 60px;
$font-xl_50: 50px;
$font-xl_45: 45px;
$font-xl_44: 44px;
$font-xl_36: 36px;
$font-xl_34: 34px;
$font-xl_30: 30px;
$font-xl_26: 26px;
$font-xl_25: 25px;
$font-xl_24: 24px;
$font-xl_22: 22px;
$font-xl_20: 20px;
$font-xl_18: 18px;
$font-xxl: 16px;
$font-xl_15: 15px;
$font-xl: 14px;
$font-lg: 12px;
$font-md: 11px;
$font-sm: 10px;
$font-xs: 9px;
$font-xxs: 8px;
$font-xxs_7: 7px;
$font-xxs_6: 6px;
$font-xxs_5: 5px;
$font-xxs_4: 4px;
$font-xxs_2: 2px;

$font-weight: 600;
$font-weight-700: 700;
$font-weight-bold: bold;
$font-weight-normal: normal;
$font-weight-500: 500;
$font-weight-extraBold: 800;